.navbutton {
    background-color: teal;
    padding: 11px 25px;
    width: 100px;
    text-align: center;
    display: inline-block;
    position: relative;
}
/* This turns the dropdown box when its not being used */
.dropdownbox {
    display: none;
    position: absolute;
    z-index: 10;
    padding-top: 20px;
    margin-left: -30px;
}

.navbutton:hover .dropdownbox {
    display: block;
}

.dropdownbox .navbutton {
    background-color: violet;
}

.dropdownbox .navbutton:hover {
    background-color: orange;
    transition-duration: 500ms;
}