html {

}

body {
    background-color: #FC5E55;
    background-image: linear-gradient(#FC5E55, #FA4083);
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}

a { 
    color: white;
    text-decoration: none;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

nav a {
    text-decoration: none;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card1 {
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
}

.card2 {
    background-image: url(images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    width: 30%;
    min-height: 250px;
}

.card3 {
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    width: 30%;
    min-height: 250px;
}

.card1, .card2, .card3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.269);
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}

.herobox2 {
    flex: 1;
}

h1 {
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}

p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin-top: 10px;
}

.cards i {
    font-size: 100px;
}

.mybutton {
    background-color: white;
    color: #FA4083;
    font-family: 'Playfair Display', serif;
    padding: 11px 25px;
    border-radius: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.399);
}

.mybutton:hover {
    background-color: #5de8a0a5;
    transition-duration: 0.5s;
}

a.mybutton {
    display: inline-block;
    margin-top: 20px;
}

nav a.mybutton {
    margin-left: 30px;
}

.navbuttons {
    border-style: solid;
    border-width: 1px;
    padding: 11px 25px;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    position: relative;
}

.testimonials {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-bottom: 100px;
}

.tbox {
    width: 47%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 50px;
    
}



.tbox p:last-of-type {
    font-size: 0.8rem;
    padding-left: 30px;
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;  
    text-align: center;
}

.navbuttons:hover .dropdown {
    display: block;
}

.dropdown .navbuttons {
    width: 120px;
    background-color: white;
}

.dropdown .navbuttons a {
    color: #FA4083;
}